.container{
    background: #1C2027;
    padding: 2rem 10rem;
    margin-left: 0;
    color: white;
}
.container .title{
    color: #FFCBDD;
    opacity: 1;
}
.container .home{
    text-decoration: none;
    color: white;
}
.container .main-container{
    display: flex;
    flex-direction: column;
    height: 90%;
}
.main-container .about-me{
    height: 40%;
    line-height: 2em;
}
.about-me h3{
    color: #FFCBDD;
    text-align: center;
    padding-top: 2em;
}
.main-container .bottom{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
}
.bottom .picture{
    width: 40%;
    height: 90%;
    background: url(/img/pelumiokewusi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.bottom .skills-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    align-items: flex-start;
}
.skills-container .skills-title{
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFCBDD;
    text-transform: uppercase;
}
.skills-container .skills{
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 3rem;
}
.bar{
    background: #353b48;
    display: block;
    height: .4rem;
    border: .1rem solid rgba(0,0,0,0.3);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.1rem gray;
}
.bar span{
    height: .4rem;
    float: left;
    background: #FFCBDD;
}
.html{
    width: 80%;
    animation: html 2s;
}
.css{
    width: 80%;
    animation: css 2s;
}
.firebase{
    width: 20%;
    animation: firebase 2s;
}
.figma{
    width: 60%;
    animation: figma 2s;
}
.javascript{
    width: 50%;
    animation: javascript 2s;
}
.react{
    width: 40%;
    animation: react 2s;
}
.mongodb{
    width: 20%;
    animation: mongodb 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes firebase{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes figma{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes mongodb{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@media only screen and (max-width: 800px){
    .container{
        padding: 1rem;
    }
    .main-container .about-me{
        height: 60%;
        line-height: 2em;
        word-spacing: .25em;
    }
    .about-me h3{
        padding-top: 1em;
    }
    .about-me p{
        text-align: justify;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom .picture{
        width: 50%;
        height: 50%;
        margin-top: .75em;
    }
    .bottom h3{
        margin-top: .75em;
    }
    .skills-container{
        width: 100%;
    }
    .skills-container .skills{
        width: 100%;
        justify-content: space-between;
        text-align: left;
        line-height: 2.5rem;
    }
}