*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 1rem 10rem 3rem 10rem;
    margin-left: 3rem;
    width: 100vw;
    height: 100vh;
}
.container .name{
    font-family: 'Sail', cursive;
    font-size: 1.5rem;
    font-weight: lighter;
}
.container .title{
    text-transform: uppercase;
    color: rgba(0,0,0,0.48);
    font-size: .75rem;
}
.body-container{
    margin: 1rem 0;
    width: 90%;
    height: 85%;
    border-radius: 2.5rem;
    border: .3rem solid black;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/img/background.jpg');
    background-color: rgba(255,255,255, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.body-container nav{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.empty{
    width: 60%;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: 10%;
}
nav a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
nav a:last-child{
    padding-right: 4rem;
}
nav a:hover{
    color: white;
}
.body-content{
    display: flex;
    width: 100%;
    height: 60%;
}
.body-content .content{
    padding-top: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content h3{
    font-size: 2.2rem;
}
.content strong{
    color: #EFCB68;
}
.content p{
    line-height: 2rem;
}
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 20%;
    align-items: flex-end;
    padding-bottom: 2rem;
}
footer a{
    color: black;
    padding-left: 3rem;
}
@media only screen and (max-width: 1000px){
    .container{
        padding: 1rem;
        margin-left: 0;
        text-align: center;
    }
    .body-container{
        width: 100%;
        height: 90%;
        border-radius: 1.5rem;
        border: none;
    }
    .empty{
        display: none;
    }
    .body-content{
        height: 70%;
    }
    .body-container ul{
        width: 100%;
        justify-content: space-around;
    }
    nav a:last-child{
        padding-right: 0;
    }
    .body-content .content{
        width: 100%;
        height: 80%;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
    }
    footer{
        height: 20%;
    }
    footer a{
        padding: 1rem;
    }
}